 a[role="button"] {
     cursor: pointer
 }

 .Wlist {
     font-weight: 400 !important;
     padding: 0 0 0 30px !important;
     margin: 5px 0
 }

 .Wlist li {
     list-style: disc !important;
     margin: 12px 0;
     font-size: 17px;
     font-family: sans-serif !important
 }

 nav.container {
     padding-right: 15px;
     padding-left: 15px
 }

 .hide {
     display: none !important
 }

 html {
     height: 100%;
     scroll-behavior: smooth
 }

 body {
     font-size: 15px;
     line-height: 24px;
     color: #444;
     background-color: #fff;
     font-style: normal;
     -webkit-overflow-scrolling: touch;
     font-family: Poppins, sans-serif
 }

 body,
 div,
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 pre,
 code,
 form,
 fieldset,
 legend,
 input,
 textarea,
 p,
 blockquote,
 label {
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
     font-family: "Poppins", sans-serif;
     font-size: 15px;
     box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     line-height: 24px;
     outline: 0;
     -webkit-tap-highlight-color: transparent
 }

 ul,
 ol {
     list-style: none;
     list-style-type: none
 }

 a img {
     border: none
 }

 a {
     color: #0288d1;
     text-decoration: none
 }

 a:hover {
     text-decoration: none;
     cursor: pointer
 }

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 main,
 menu,
 nav,
 section,
 summary {
     display: block
 }

 *,
 :after,
 :before {
     box-sizing: border-box
 }

 .container,
 .gl-grid {
     width: 100%;
     padding-right: 0;
     padding-left: 0;
     margin-right: auto;
     margin-left: auto
 }

 @media (min-width:576px) {
     .container {
         max-width: 560px
     }
 }

 @media (min-width:650px) {
     .container {
         max-width: 630px
     }
 }

 @media (min-width:768px) {

     .container,
     .gl-grid {
         max-width: 740px
     }
 }

 @media (min-width:850px) {

     .container,
     .gl-grid {
         max-width: 830px
     }
 }

 @media (min-width:991px) {

     .container,
     .gl-grid {
         max-width: 960px
     }
 }

 @media (min-width:1024px) {

     .container,
     .gl-grid {
         max-width: 1020px
     }
 }

 @media (min-width:1250px) {

     .container,
     .gl-grid {
         max-width: 1220px
     }
 }

 @media (min-width:1366px) {

     .container,
     .gl-grid {
         max-width: 1280px
     }
 }

 button {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
     text-transform: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: 0 0;
     border: 0;
     outline: 0;
     margin: 0;
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
     overflow: visible
 }

 .gl-slider-frame {
     width: 100%;
     position: relative;
     font-size: 0;
     line-height: 0;
     padding: 8px 0
 }

 @media only screen and (min-width:768px) {
     .gl-slider-frame .free-flow-list {
         overflow: visible
     }
 }

 .gl-slider-list {
     width: 100%
 }

 .gl-slider-btns {
     width: 160px;
     display: flex;
     justify-content: space-between
 }

 .gl-slider-nav {
     width: 72px;
     height: 72px;
     background-color: #fff;
     box-shadow: 0 0 16px 4px rgba(0, 0, 0, .1);
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     cursor: pointer
 }

 .gl-slider-nav path {
     fill: #000
 }

 .gl-slider-nav:hover {
     background-color: #000
 }

 .gl-slider-nav:hover path {
     fill: #fff
 }

 .gl-slider-nav.disabled {
     pointer-events: none;
     opacity: .3;
     cursor: not-allowed
 }

 @media only screen and (max-width:767px) {
     .gl-slider-nav {
         display: none
     }
 }

 input:-internal-autofill-selected {
     background-color: transparent !important
 }

 .new-form {
     text-align: center
 }

 .form-item {
     position: relative;
     padding-bottom: 8px
 }

 .form-item input:-webkit-autofill,
 .form-item input:-webkit-autofill:hover,
 .form-item input:-webkit-autofill:focus,
 .form-item input:-webkit-autofill:active,
 .form-item textarea:-webkit-autofill,
 .form-item textarea:-webkit-autofill:hover,
 .form-item textarea:-webkit-autofill:focus,
 .form-item select:-webkit-autofill,
 .form-item select:-webkit-autofill:hover,
 .form-item select:-webkit-autofill:focus {
     -webkit-background-clip: text;
     border: none;
     box-shadow: none !important
 }

 .form-label {
     position: absolute;
     width: auto;
     height: auto;
     left: 16px;
     top: -8px;
     z-index: 1;
     font-size: 12px;
     line-height: 16px;
     letter-spacing: .4px;
     color: rgba(0, 0, 0, .6);
     background-color: transparent;
     transition: .3s cubic-bezier(.64, .09, .08, 1) all;
     pointer-events: none
 }

 .form-fieldset {
     position: absolute;
     top: -8px;
     right: 0;
     left: 0;
     height: 54px;
     border-radius: 4px;
     text-align: left;
     padding: 14px;
     z-index: 0;
     background-color: #fff
 }

 .form-fieldlegend,
 .form-emptylegend {
     line-height: 16px;
     height: 16px;
     font-size: 12px;
     visibility: hidden;
     letter-spacing: .4px
 }

 .form-emptylegend {
     width: 0;
     padding: 0
 }

 .intl-tel-input .iti {
     z-index: 1
 }

 .intl-tel-input input.form-control[type=tel] {
     z-index: 1;
     margin-left: 74px;
     width: calc(100% - 74px);
     padding-left: 16px !important
 }

 .intl-tel-input .form-label {
     left: 91px
 }

 .intl-tel-input .form-fieldset {
     margin-left: 76px
 }

 .form-control {
     background-color: transparent;
     position: relative;
     z-index: 1;
     width: 100%;
     border: none;
     padding: 10px 16px 10px;
     border-radius: 4px;
     outline: none;
     font-size: 15px;
     line-height: 24px;
     height: 46px;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     color: #000
 }

 .select-container {
     position: relative
 }

 .select-container:after {
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     top: calc(50%);
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     right: 16px;
     border-top: 5px solid #000;
     opacity: .5;
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     pointer-events: none;
     z-index: 1
 }

 .form-control:focus>.form-fieldset {
     border: 1px solid #196ae5
 }

 .form-control:focus+.form-label {
     top: -8px;
     z-index: 1;
     background-color: transparent;
     color: #196ae5
 }
 
 #program{
    height: max-content !important;
 }

 .form-field__message {
     position: absolute;
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
     left: 0;
     top: 46px;
     display: flex;
     align-items: flex-start
 }

 .form-field__message .error {
     font-size: 11px;
     color: #f1644c;
     line-height: 14px;
     font-weight: 500
 }

 .field-active .form-fieldlegend {
     width: 0;
     padding: 0
 }

 .field-active .form-label {
     top: 16px;
     background-color: #fff;
     z-index: 1;
     min-width: 50%;
     text-align: left
 }

 .set-color .form-fieldset {
     border: 1px solid #196ae5
 }

 .set-color .form-fieldlegend {
     width: unset
 }

 .set-color .form-label {
     color: #196ae5;
     background-color: transparent;
     top: -8px
 }

 .nummber-tel {
     position: relative;
     z-index: 2
 }

 .form-button {
     font-size: 16px;
     padding: 16px 38px;
     line-height: 16px;
     cursor: pointer
 }

 .banner-help-text {
     display: none
 }

 .section-wrapper {
     position: relative
 }

 .section-wrapper.even .section-layout:nth-child(even) {
     background-color: rgba(0, 0, 0, .04)
 }

 .section-wrapper.odd .section-layout:nth-child(odd) {
     background-color: rgba(0, 0, 0, .04)
 }

 .section {
     padding: 20px 16px
 }

 .section.section--full {
     padding-left: 0;
     padding-right: 0
 }

 .section-overline {
     font-size: 12px;
     line-height: 16px;
     color: #1e5288;
     font-weight: 600;
     margin-bottom: 8px
 }

 .section-title {
     font-size: 24px;
     line-height: 32px;
     color: rgba(0, 0, 0, .87);
     font-weight: 600;
     margin-bottom: 8px
 }

 .section-title.center {
     text-align: center
 }

 .section-subtitle {
     font-size: 16px;
     line-height: 24px;
     color: #000;
     font-weight: 600;
     letter-spacing: .15px
 }

 .section-subtitle.light {
     font-weight: 400
 }

 .section-head-padded,
 .section-footer-padded {
     padding-left: 16px;
     padding-right: 16px
 }

 .section-sectitle {
     font-size: 14px;
     line-height: 20px;
     color: rgba(0, 0, 0, .56);
     font-weight: 400
 }

 .section-sectitle p,
 .section-sectitle div,
 .section-sectitle span,
 .section-sectitle ul,
 .section-sectitle ol,
 .section-sectitle li {
     font-size: inherit
 }

 .section-sectitle ul {
     list-style-type: disc;
     padding-left: 16px
 }

 .section-sectitle.bold {
     color: rgba(0, 0, 0, .92);
     font-weight: 600
 }

 .section-sectitle.small {
     font-size: 12px
 }

 h1.section-title,
 h1.section-subtitle,
 h1.section-sectitle,
 h2.section-title,
 h2.section-subtitle,
 h2.section-sectitle,
 h3.section-title,
 h3.section-subtitle,
 h3.section-sectitle,
 h4.section-title,
 h4.section-subtitle,
 h4.section-sectitle,
 h5.section-title,
 h5.section-subtitle,
 h5.section-sectitle,
 h6.section-title,
 h6.section-subtitle,
 h6.section-sectitle {
     margin-bottom: 0
 }

 @media only screen and (min-width:1024px) {

     .section-body,
     .section-head {
         width: 70%
     }

     .section {
         padding: 40px 0
     }

     .section.section--full {
         padding-left: 0;
         padding-right: 0
     }

     .section-title {
         font-size: 32px;
         line-height: 40px
     }

     .section-sectitle {
         font-size: 20px;
         line-height: 32px
     }

     .section-sectitle.small {
         font-size: 14px;
         line-height: 20px;
         margin-top: 16px
     }

     .section-subtitle {
         font-size: 20px;
         line-height: 32px
     }

     .section-overline {
         font-size: 14px;
         line-height: 20px
     }
 }

 .accordion {
     position: relative;
     margin-top: 16px
 }

 .accordion-item {
     margin-bottom: 16px;
     box-shadow: 0 1.9px 6.3px 0 rgba(0, 0, 0, .12), 0 .5px 1.8px 0 rgba(0, 0, 0, .04);
     background-color: #fff;
     cursor: pointer
 }

 .accordion-item:last-child {
     margin-bottom: 0
 }

 .accordion-item.no-shadow {
     box-shadow: none
 }

 .accordion-item.invert {
     background-color: rgba(0, 0, 0, .04);
     box-shadow: none
 }

 .accordion-item.invert .accordion-head-icon {
     background-color: #fff
 }

 .accordion-item.rounded {
     border-radius: 8px;
     overflow: hidden
 }

 .accordion-head {
     padding: 8px 40px 8px 16px;
     position: relative
 }

 .accordion-head.with--icon {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 8px
 }

 .accordion-head.active .accordion-head-icon:after {
     -webkit-transform: translate(-50%, -50%) rotate(0);
     transform: translate(-50%, -50%) rotate(0)
 }

 .accordion-head-icon {
     width: 24px;
     height: 24px;
     border-radius: 50%;
     background-color: rgba(0, 0, 0, .04);
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     right: 16px
 }

 .accordion-head-icon:after,
 .accordion-head-icon:before {
     content: "";
     position: absolute;
     display: block;
     width: 10px;
     height: 2px;
     background-color: #000;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     transition: all .3s
 }

 .accordion-head-icon:after {
     -webkit-transform: translate(-50%, -50%) rotate(90deg);
     transform: translate(-50%, -50%) rotate(90deg)
 }

 .acc-disable--interaction {
     pointer-events: none;
     cursor: default
 }

 .accordion-img {
     -o-object-fit: contain;
     object-fit: contain
 }

 .accordion-overline {
     font-size: 10px;
     line-height: 16px;
     letter-spacing: .15px;
     color: rgba(0, 0, 0, .72);
     text-transform: uppercase
 }

 .accordion-head__title {
     font-size: 14px;
     line-height: 20px;
     color: rgba(0, 0, 0, .92);
     font-weight: 600
 }

 .accordion-body {
     height: 0;
     overflow: hidden;
     transition: height .3s ease
 }

 .accordion-body .accordion-content {
     overflow: visible;
     display: block;
     padding: 0 16px 16px
 }

 @media only screen and (min-width:1024px) {
     .accordion-head__title {
         font-size: 16px;
         line-height: 24px
     }

     .accordion-overline {
         font-size: 12px;
         letter-spacing: 2.4px;
         font-weight: 600;
         margin-bottom: 8px
     }

     .accordion-item {
         margin-bottom: 24px
     }

     .accordion-head {
         padding: 16px 40px 16px 16px
     }
 }

 .overall-tabs-container {
     position: relative
 }

 .overall-tabs-container.overall-tabs-container-fixed {
     height: 54px
 }

 .overall-tabs-container.overall-tabs-container-fixed .tab-list-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 20;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
     height: 54px
 }

 .tab-list-wrapper {
     background-color: #fff;
     position: fixed;
     top: -100px
 }

 .tab-list {
     display: flex;
     gap: 16px;
     overflow: auto;
     scroll-behavior: smooth
 }

 .tab-list__item {
     padding: 16px 8px;
     font-size: 14px;
     line-height: 20px;
     color: #000;
     font-weight: 600;
     flex-shrink: 0;
     cursor: pointer
 }

 .tab-list__item:first-child {
     margin-left: 8px
 }

 .tab-list__item:last-child {
     margin-right: 8px
 }

 .tab-list__item.tab-list__item-active {
     border-bottom: 2px solid #196ae5
 }

 .ut-theme .tab-list__item.tab-list__item-active {
     border-bottom: 2px solid #ff5421
 }

 @media only screen and (min-width:1024px) {
     .overall-tabs-container.overall-tabs-container-fixed {
         height: 60px
     }

     .overall-tabs-container.overall-tabs-container-fixed .tab-list-wrapper {
         height: 60px
     }

     .tab-list__item {
         font-size: 16px;
         line-height: 24px
     }

     .tab-list__item.tab-list__item-active {
         border-bottom: 4px solid #196ae5
     }
 }

 @media screen and (min-width:1250) {
     .tab-list {
         justify-content: center
     }
 }

 .gl-card {
     box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
     border-radius: 8px;
     padding: 20px
 }

 .free-flow-list {
     display: flex;
     overflow-x: scroll;
     padding-top: 8px;
     padding-bottom: 8px
 }

 @media only screen and (min-width:992px) {
     .free-flow-list {
         overflow: visible
     }
 }

 .free-flow__item {
     padding-left: calc(16px / 2);
     padding-right: calc(16px / 2);
     display: flex
 }

 .free-flow__item:first-child {
     padding-left: 16px
 }

 .free-flow__item:last-child {
     padding-right: 16px
 }

 .tab-list::-webkit-scrollbar {
     display: none
 }

 nav#navbar {
     position: relative !important
 }

 .navbar-brand {
     display: flex;
     align-items: center
 }

 .main {
     overflow: hidden
 }

 .ut-theme.program-container,
 .pes-theme.program-container {
     border-top: 1px solid rgba(0, 0, 0, .1)
 }

 .pes-theme .seo-layout-2 .pp-banner__phone {
     display: flex
 }

 .pes-theme .pp-banner__tel {
     font-weight: 600
 }

 .pes-theme .pp-banner__tagline,
 .pes-theme .skills-list__item {
     background-color: rgba(237, 235, 250, .8);
     color: #2D247C
 }

 .pes-theme .benifits-list {
     background-color: rgba(255, 245, 229, .3)
 }

 .read-more-container {
     position: relative;
     padding-bottom: 18px;
     margin-top: 8px
 }

 .read-more-container.open .read-more-text {
     -webkit-line-clamp: initial
 }

 .read-more-container.open .read-more-btn {
     display: none
 }

 .read-more-text {
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis
 }

 .read-more-btn {
     font-size: 13px;
     line-height: 16px;
     color: #ff5421;
     position: absolute;
     left: 0;
     bottom: auto;
     cursor: pointer;
     font-weight: 700;
     padding: 10px 0
 }

 .read-more-btn.upper {
     text-transform: uppercase;
     font-weight: 500
 }

 .section-button-container .lc-btn-section {
     margin-top: 16px
 }

 .section-button-container .lc-btn-section .btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: auto
 }

 .section-button-container .lc-btn-section .btn img {
     margin-left: 4px
 }

 .ut-theme .section-button-container .btn {
     background-color: #ff5421
 }

 .download-brochure-card {
     text-align: center;
     margin: 0 16px 40px;
     padding: 16px
 }

 .download-brochure-card .brochure-form-highlights {
     display: none !important
 }

 .download-brochure-card #brochure_heading_section {
     display: block !important
 }

 .download-brochure-card #brochure_heading_section .curriculum-subtitle {
     display: none
 }

 .download-brochure-card #brochure_heading_section .curriculum-title {
     font-size: 20px;
     line-height: 32px;
     letter-spacing: .15px;
     font-weight: 600;
     margin-bottom: 4px
 }

 .download-brochure-card .brochure-deadline {
     margin-top: 4px
 }

 .download-brochure-card .brochure-success {
     margin-top: 0 !important
 }

 .download-brochure-card .submit_lead_capture_button {
     width: 100%
 }

 .download-brochure-card .terms_policy_note {
     margin-bottom: 0;
     margin-top: 4px
 }

 .download-brochure-card .curriculum-note {
     margin-bottom: 0
 }

 .download-brochure-card #password_section {
     display: none
 }

 .download-brochure-card .formGroup {
     margin-bottom: 0
 }

 .download-brochure-card .formGroup label {
     font-size: 12px;
     margin-bottom: 0
 }

 .download-brochure-card .formGroup .help-block.error {
     font-size: 12px;
     color: red;
     line-height: 16px
 }

 .download-brochure-card .form-inputs-container {
     text-align: left
 }

 .download-brochure-card .brochure-form {
     padding: 0 !important;
     text-align: center
 }

 .download-brochure-card .messages {
     height: 16px
 }

 @media only screen and (min-width:1024px) {

     .section .section-head,
     .section .section-body,
     .section .section-footer {
         width: 70%
     }

     .download-brochure-card {
         margin: 0;
         padding: 24px
     }

     .form-success.download-brochure-card {
         display: block
     }
 }

 @media only screen and (min-width:1366px) {

     .section .section-head,
     .section .section-body,
     .section .section-footer {
         width: 70%
     }
 }

 .section-body {
     width: 70% !important
 }

 .pp-banner-wrapper {
     background-color: #fff;
     padding: 16px 16px 40px
 }

 .pp-banner__head {
     display: flex;
     gap: 8px;
     align-items: center
 }

 .pp-banner__overline {
     font-size: 10px;
     line-height: 16px;
     letter-spacing: 1.5px;
     color: #000;
     text-transform: uppercase;
     font-weight: 600
 }

 .pp-banner__body {
     margin-top: 16px
 }

 .pp-banner__tagline {
     font-size: 12px;
     padding: 4px 8px;
     background-color: #e8f0fd;
     color: rgba(0, 0, 0, .8);
     line-height: 20px;
     display: inline-block;
     margin-bottom: 8px;
     font-weight: 600
 }

 .ut-theme .pp-banner__tagline {
     background-color: #fff5e5
 }

 .pp-banner__title {
     font-size: 24px;
     line-height: 32px;
     color: rgba(0, 0, 0, .92);
     font-weight: 600;
     margin-bottom: 16px
 }

 .banner-info-list {
     display: flex;
     flex-wrap: wrap
 }

 .banner-info__item {
     display: flex;
     align-items: baseline;
     position: relative;
     font-size: 12px;
     line-height: 16px;
     letter-spacing: .15px;
     color: rgba(0, 0, 0, .72);
     font-weight: 600;
     padding: 2px 8px
 }

 .banner-info__item .star-icon {
     margin-right: 4px
 }

 .banner-info__item:after {
     content: ".";
     position: absolute;
     display: block;
     left: -1px;
     top: 7px;
     line-height: 0
 }

 .banner-info__item:first-child {
     padding-left: 0
 }

 .banner-info__item:first-child:after {
     content: none
 }

 .banner-info__item:last-child {
     padding-right: 0
 }

 .pp-banner__subtitle {
     margin-top: 16px;
     padding-left: 8px;
     border-left: 2px solid #fa500f;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: .15px;
     color: rgba(0, 0, 0, .72);
     font-weight: 600
 }

 .pp-banner__demotext {
     color: #000;
     letter-spacing: 1.5px;
     font-weight: 600;
     margin-top: 16px;
     text-align: center;
     font-size: 14px;
     line-height: 20px
 }

 .pp-banner__demotext .highlighter {
     color: #f74317
 }

 .pp-banner__seo-content {
     font-size: 14px;
     line-height: 20px;
     color: rgba(0, 0, 0, .7);
     font-weight: 400;
     margin-bottom: 0
 }

 .banner-seo__read-more {
     font-size: 12px;
     line-height: 16px;
     color: #3079e8;
     text-align: right
 }

 .ut-theme .banner-seo__read-more {
     color: #ff5421
 }

 .banner-seo-container {
     margin-top: 12px
 }

 .pp-banner-additional {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 12px
 }

 .pp-banner__urgency {
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 1.5px;
     color: #991F1F;
     border-radius: 20px;
     padding: 2px 8px 2px 0;
     font-weight: 600;
     position: relative;
     flex-shrink: 0
 }

 .pp-banner__urgency .urgency-title {
     color: #000;
     font-size: 12px;
     text-transform: capitalize
 }

 .pp-banner__urgency img {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     left: 4px
 }

 .pp-banner__phone {
     display: flex;
     align-items: center
 }

 .pp-banner__phone img {
     width: 16px;
     height: 16px;
     margin-right: 4px
 }

 .pp-banner__tel {
     font-size: 12px;
     line-height: 16px;
     letter-spacing: 2.4px;
     font-weight: 600;
     color: #000;
     text-decoration: underline
 }

 .pp-banner-right {
     display: none
 }

 .pp-banner-right.show-in-mobile {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     cursor: pointer;
     margin-top: 24px;
     margin-bottom: -16px
 }

 .pp-banner-right.show-in-mobile img {
     -o-object-fit: contain;
     object-fit: contain;
     width: 100%
 }

 .pp-banner-right.show-in-mobile:hover .pp-banner__play {
     background-color: #fff
 }

 .pp-banner-right.show-in-mobile:hover .banner-play-icon:after {
     border-left-color: #fff
 }

 .pp-banner-right.show-in-mobile:hover .banner-video-title {
     font-size: 20px
 }

 .pp-banner-right.show-in-mobile .pp-banner__play {
     position: absolute;
     padding: 8px 16px 8px 8px;
     border-radius: 32px;
     background: rgba(255, 255, 255, .6);
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
     -webkit-backdrop-filter: blur(6px);
     backdrop-filter: blur(6px);
     display: flex;
     gap: 16px;
     cursor: pointer
 }

 .pp-banner-right.show-in-mobile .banner-play-icon {
     position: relative;
     display: block;
     width: 24px;
     height: 24px;
     background: #000;
     border-radius: 50%
 }

 .pp-banner-right.show-in-mobile .banner-play-icon:after {
     display: flex;
     position: absolute;
     border-left: 8px solid rgba(255, 255, 255, .8);
     border-top: 6px solid transparent;
     border-bottom: 6px solid transparent;
     content: "";
     left: 9px;
     top: 6px
 }

 .pp-banner-right.show-in-mobile .banner-video-title {
     color: #101828;
     font-size: 16px;
     font-weight: 600;
     line-height: 24px;
     transition: all .1s
 }

 .gl-modal .exp-btn {
     font-size: 40px;
     position: absolute;
     right: 13px;
     top: 10px;
     z-index: 10;
     color: #fff;
     background-color: transparent;
     border: none;
     cursor: pointer
 }

 .gl-modal .modal-window-styling {
     width: auto;
     background-color: transparent
 }

 .gl-modal .exp-video-wrapper {
     max-width: 700px
 }

 .seo-layout-2 .btn-style {
     font-weight: 600
 }

 .seo-layout-2 .pp-banner-info {
     display: none
 }

 .seo-layout-2 .pp-banner__subtitle {
     display: none
 }

 .seo-layout-2 .pp-banner__phone {
     display: none
 }

 .seo-layout-2 .pp-banner__urgency {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     letter-spacing: .15px;
     font-size: 12px;
     color: #f74317
 }

 .seo-layout-2 .pp-banner__urgency .pp-banner__urgency-img {
     background-color: unset;
     position: unset;
     margin-right: 8px;
     height: 16px;
     width: 16px;
     padding: 0;
     -webkit-transform: unset;
     transform: unset
 }

 .seo-layout-2 .pp-banner__urgency .urgency-title {
     margin-right: 4px;
     font-weight: 400
 }

 .seo-layout-2 .pp-banner__seo-content {
     font-size: 12px
 }

 .banner-infos-list {
     display: flex;
     align-items: flex-start;
     padding: 16px;
     border-radius: 8px;
     border: 1px solid rgba(0, 0, 0, .12);
     background: #fff;
     flex-wrap: wrap;
     margin-top: 32px
 }

 .banner-infos__item {
     width: 50%;
     border-bottom: 1px solid rgba(0, 0, 0, .12);
     padding-bottom: 16px
 }

 .banner-infos__item:nth-last-child(-n+2) {
     padding-top: 16px;
     padding-bottom: 0;
     border-bottom: none
 }

 .banner-infos__item:nth-child(2n) {
     padding-left: 8px
 }

 .banner-infos__item:nth-child(2n+1) {
     padding-right: 8px;
     padding-left: 0;
     border-right: 1px solid rgba(0, 0, 0, .12)
 }

 .banner-infos__head {
     color: #000;
     font-size: 14px;
     line-height: 20px;
     font-weight: 600;
     letter-spacing: .15px;
     display: flex;
     justify-content: center;
     gap: 4px;
     align-items: center;
     text-align: center
 }

 .star-icon {
     height: 16px
 }

 .banner-infos__tagline {
     color: rgba(0, 0, 0, .72);
     font-size: 12px;
     line-height: 16px;
     margin-top: 8px;
     text-align: center
 }

 .pp-banner-wrapper {
     margin: 0 !important
 }

 @media screen and (min-width:1024px) {
     .pp-banner-wrapper {
         padding: 40px 16px
     }

     .pp-banner-right {
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         width: calc(48% - 10px)
     }

     .pp-banner-right.show-in-mobile {
         margin-top: 0;
         margin-bottom: 0
     }

     .pp-banner-right img {
         object-fit: contain;
         max-width: 100%;
         display: block;
         height: 500px;
         border: 10px solid #ff5421;
         border-radius: 10px
     }

     .gl-modal .modal-window-styling {
         position: absolute;
         left: 50%;
         top: 50%;
         -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%)
     }

     .gl-modal .exp-video-wrapper {
         width: 700px
     }

     .banner-help-text {
         position: absolute;
         bottom: 0;
         right: 0;
         width: 70%;
         font-size: 10px;
         line-height: 16px;
         letter-spacing: .15px;
         padding: 8px 16px;
         background-color: rgba(0, 0, 0, .8);
         color: #fff
     }

     .banner-help-text a {
         color: #fff
     }

     .pp-banner-container {
         display: flex;
         justify-content: space-between
     }

     .pp-banner-left {
         width: 52%;
         flex-shrink: 0;
         display: flex;
         flex-direction: column;
         justify-content: center
     }

     .pp-banner__body,
     .pp-banner__head {
         padding: 0 16px
     }

     .pp-banner__head {
         gap: 16px
     }

     .pp-banner__overline {
         font-size: 10px;
         letter-spacing: 2.4px
     }

     .collabration-logo {
         height: 40px
     }

     .pp-banner__tagline {
         font-size: 14px;
         line-height: 24px
     }

     .pp-banner__title {
         font-size: 32px;
         line-height: 40px
     }

     .banner-info__item {
         font-size: 16px;
         line-height: 24px;
         padding-top: 0;
         padding-bottom: 0
     }

     .banner-info__item:after {
         top: 8px;
         left: -2px
     }

     .pp-banner__subtitle {
         font-size: 20px;
         line-height: 32px
     }

     .pp-banner__demotext {
         text-align: left;
         font-size: 16px;
         line-height: 24px
     }

     .seo-content__list--v2 {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between
     }

     .seo-content__list--v2 .seo-content__item {
         width: calc(50% - 16px)
     }

     .banner-seo-container {
         margin-top: 24px
     }

     .pp-banner__seo-content {
         font-size: 14px;
         line-height: 20px;
         letter-spacing: .28px
     }

     .pp-banner-ctas {
         display: flex;
         align-items: center;
         gap: 16px
     }

     .pp-banner-ctas .btn--bordered {
         margin-top: 0
     }

     .pp-banner-additional {
         justify-content: flex-start;
         gap: 16px
     }

     .pp-banner__urgency {
         padding-left: 24px;
         padding: 6px 8px 6px 0
     }

     .pp-banner__urgency img {
         padding: 4px;
         left: 2px;
         background-color: #fea766;
         border-radius: 50%;
         height: 28px;
         width: 28px
     }

     .seo-layout-2 .btn-style {
         font-size: 20px;
         line-height: 24px;
         text-transform: capitalize;
         padding: 16px
     }

     .seo-layout-2 .pp-banner-left {
         width: 60%
     }

     .seo-layout-2 .pp-banner-right {
         align-items: flex-end;
         width: calc(33% - 13px)
     }

     .seo-layout-2 .banner-help-text {
         width: 75%
     }

     .seo-layout-2 .banner-help-text a {
         text-decoration: underline
     }

     .seo-layout-2 .pp-banner__seo-content {
         font-size: 14px
     }

     .banner-infos-list {
         margin-top: 32px;
         padding: 24px 12px
     }

     .banner-infos-list:has(>:last-child:nth-child(2)) {
         width: 50%
     }

     .banner-infos-list:has(>:last-child:nth-child(2)) .banner-infos__item {
         width: 50%
     }

     .banner-infos-list:has(>:last-child:nth-child(3)) {
         width: 75%
     }

     .banner-infos-list:has(>:last-child:nth-child(3)) .banner-infos__item {
         width: 33%
     }

     .banner-infos__item {
         width: 25%;
         border-bottom: none;
         padding-bottom: 0;
         padding-left: 8px;
         padding-right: 8px;
         border-right: 1px solid rgba(0, 0, 0, .12);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center
     }

     .banner-infos__item:nth-last-child(-n+2) {
         padding-top: 0
     }

     .banner-infos__item:nth-child(2n+1) {
         padding-left: 8px;
         padding-right: 8px
     }

     .banner-infos__item:nth-child(2n) {
         padding-left: 8px
     }

     .banner-infos__item:first-child {
         padding-left: 0
     }

     .banner-infos__item:last-child {
         padding-right: 0;
         border-right: none
     }
 }

 .pp-banner__body .button-section,
 .program-sticky-container .button-section,
 .bottom-floating-banner .button-section {
     display: flex;
     flex-direction: column;
     gap: 16px;
     margin-top: 24px;
     margin-bottom: 24px
 }

 .pp-banner__body .button-section.grid-column-reverse,
 .program-sticky-container .button-section.grid-column-reverse,
 .bottom-floating-banner .button-section.grid-column-reverse {
     flex-direction: column-reverse
 }

 .pp-banner__body .button-section .btn-style,
 .program-sticky-container .button-section .btn-style,
 .bottom-floating-banner .button-section .btn-style {
     line-height: 24px;
     letter-spacing: 1.25px;
     color: #196ae5;
     background-color: #fff;
     border-radius: 8px;
     padding: 12px 16px;
     display: block;
     text-align: center;
     font-weight: 500;
     text-transform: capitalize;
     cursor: pointer;
     border: 1px solid #196ae5
 }

 .pp-banner__body .button-section .btn-style.primary-button,
 .program-sticky-container .button-section .btn-style.primary-button,
 .bottom-floating-banner .button-section .btn-style.primary-button {
     color: #fff;
     background-color: #196ae5
 }

 .pp-banner__body .button-section .btn-style.primary-button:hover,
 .program-sticky-container .button-section .btn-style.primary-button:hover,
 .bottom-floating-banner .button-section .btn-style.primary-button:hover {
     background-color: #4788ea
 }

 @media only screen and (min-width:1024px) {

     .pp-banner__body .button-section,
     .program-sticky-container .button-section,
     .bottom-floating-banner .button-section {
         flex-direction: row
     }

     .pp-banner__body .button-section.grid-column-reverse,
     .program-sticky-container .button-section.grid-column-reverse,
     .bottom-floating-banner .button-section.grid-column-reverse {
         flex-direction: row-reverse;
         justify-content: flex-end
     }

     .pp-banner__body .button-section .btn-style,
     .program-sticky-container .button-section .btn-style,
     .bottom-floating-banner .button-section .btn-style {
         display: inline-block;
         width: 270px;
         padding: 16px
     }
 }

 .ut-theme .pp-banner__body .btn-style,
 .ut-theme .program-sticky-container .btn-style,
 .ut-theme .bottom-floating-banner .btn-style {
     color: #ff5421;
     border-color: #ff5421;
     font-weight: 600
 }

 .ut-theme .pp-banner__body .btn-style.primary-button,
 .ut-theme .program-sticky-container .btn-style.primary-button,
 .ut-theme .bottom-floating-banner .btn-style.primary-button {
     background-color: #ff5421;
     color: #fff
 }

 .ut-theme .pp-banner__body .btn-style.primary-button:hover,
 .ut-theme .program-sticky-container .btn-style.primary-button:hover,
 .ut-theme .bottom-floating-banner .btn-style.primary-button:hover {
     background-color: #ff5421
 }

 .ut-theme .btn {
     background-color: #ff5421
 }

 .bottom-floating-banner {
     padding: 10px;
     position: fixed;
     width: 100%;
     background-color: #fff;
     bottom: 0;
     z-index: 10;
     box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .2);
     transition: all .3s linear;
     -webkit-transform: translateY(110%);
     transform: translateY(110%)
 }

 .bottom-floating-banner.active {
     -webkit-transform: translateY(0);
     transform: translateY(0)
 }

 .bottom-floating-banner .button-section {
     margin-top: 0;
     margin-bottom: 0;
     flex-direction: row;
     gap: 8px
 }

 .bottom-floating-banner .button-section>div {
     width: 50%
 }

 .bottom-floating-banner .button-section>div:only-child {
     width: 100%
 }

 .bottom-floating-banner .button-section .btn-style {
     font-size: 12px;
     padding: 10px;
     letter-spacing: .15px
 }

 .bottom-floating-banner .button-section.grid-column-reverse {
     flex-direction: row-reverse
 }

 .bottom-floating-banner .cta-title {
     display: none
 }

 @media only screen and (min-width:1024px) {
     .program-sticky-container .button-section {
         flex-direction: column;
         margin-top: 16px
     }

     .program-sticky-container .button-section .btn-style {
         display: block;
         width: auto
     }

     .program-sticky-container .button-section.grid-column-reverse {
         flex-direction: column-reverse;
         justify-content: baseline
     }

     .bottom-floating-banner {
         display: none
     }

     .sac-cta-banner .application-btn-section .btn-style,
     .sac-cta-banner .lc-btn-section .btn-style {
         min-width: 200px
     }

     .sac-cta-banner .cta-title {
         font-size: 16px
     }

     .ut-theme .seo-layout-2 .pp-banner__body .btn-style,
     .ut-theme .seo-layout-2 .program-sticky-container .btn-style,
     .ut-theme .seo-layout-2 .bottom-floating-banner .btn-style {
         font-size: 20px;
         line-height: 24px;
         text-transform: capitalize;
         padding: 16px;
         width: 270px
     }
 }

 .banner-info-list.unbold .banner-info__item {
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     color: rgba(0, 0, 0, .72)
 }

 @media (min-width:768px) {
     .banner-info-list.unbold .banner-info__item {
         font-size: 16px;
         line-height: 24px
     }
 }

 .about-program-section {
     margin-top: 40px
 }

 .about-section-seo {
     margin-top: 8px
 }

 .about-section-description {
     font-size: 12px;
     line-height: 16px;
     color: rgba(0, 0, 0, .56)
 }

 .about-program__body {
     margin-top: 16px
 }

 .about-program__body .accordion-content ul {
     list-style-type: disc;
     padding-left: 16px;
     padding-right: 16px;
     margin-top: 8px
 }

 .about-program__btn {
     font-size: 12px;
     line-height: 16px;
     text-align: center;
     text-transform: uppercase;
     font-weight: 500;
     cursor: pointer
 }

 .ut-theme .about-program__btn {
     color: white;
     background: #ff5421;
     height: 35px;
     width: 120px;
     display: flex;
     margin: auto;
     align-items: center;
     justify-content: center;
     border-radius: 10px
 }

 .alumni-banner {
     padding: 12px 15px;
     background-color: #ffb333;
     border-radius: 4px;
     color: #000;
     font-weight: 600;
     background-size: 100px;
     background-repeat: no-repeat;
     background-position: 0 13px;
     margin-top: 20px;
     position: relative;
     cursor: pointer
 }

 .alumni-banner.alumni-banner--review {
     background-color: dimgrey;
     color: #fff;
     background-size: 0;
     cursor: unset
 }

 .alumni-banner.alumni-banner--review .alumni-banner__content {
     margin-left: 0;
     width: 65%
 }

 .alumni-banner.alumni-banner--review .icon {
     width: 96px;
     height: auto;
     text-align: center
 }

 .alumni-banner.alumni-banner--review .icon img {
     width: 100%;
     height: 18px
 }

 .alumni-banner.alumni-banner--review .alumni-rating-count {
     color: #fff;
     font-size: 10px;
     line-height: 10px;
     font-weight: 400;
     letter-spacing: .15px
 }

 .alumni-banner.alumni-banner--review .alumni-rating-count .avg-rating {
     color: #fff;
     font-size: 16px;
     font-weight: 600;
     margin-right: 4px
 }

 .alumni-banner .icon {
     position: absolute;
     top: 50%;
     right: 20px;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 24px;
     height: 24px
 }

 .alumni-banner .icon svg {
     width: 100%;
     height: 100%
 }

 .alumni-banner-title {
     font-size: 10px;
     line-height: 16px;
     letter-spacing: 1.5px;
     text-transform: uppercase
 }

 .alumni-banner__content {
     margin-left: 80px
 }

 .alumni-banner__content p {
     color: white !important
 }

 .alumni-banner-subtitle {
     font-size: 14px;
     line-height: 20px
 }

 @media only screen and (min-width:1024px) {
     .alumni-banner {
         padding: 24px;
         background-size: 190px;
         background-position: -10px 15px
     }

     .alumni-banner .icon {
         width: 40px;
         height: 40px
     }

     .alumni-banner.alumni-banner--review {
         background-size: 160px;
         margin-left: 2px
     }

     .alumni-banner.alumni-banner--review .alumni-banner__content {
         margin-left: 140px;
         width: calc(100% - 320px)
     }

     .alumni-banner.alumni-banner--review .icon {
         width: 176px;
         height: auto
     }

     .alumni-banner.alumni-banner--review .icon img {
         height: 32px
     }

     .alumni-banner.alumni-banner--review .alumni-rating-count {
         font-size: 12px;
         line-height: 12px
     }

     .alumni-banner-title {
         font-size: 12px;
         line-height: 16px;
         letter-spacing: 2.4px
     }

     .alumni-banner-subtitle {
         font-size: 24px;
         line-height: 32px;
         margin-top: 8px
     }

     .alumni-banner__content {
         margin-left: 140px
     }
 }

 .companies-section {
     margin-top: 24px
 }

 .companies-scrolling-image {
     height: 90px;
     width: 100%;
     background-size: cover;
     background-position: 50%;
     margin-top: 24px;
     background-repeat: repeat-x;
     -webkit-animation: slide 60s linear infinite !important;
     animation: slide 60s linear infinite !important
 }

 @-webkit-keyframes slide {
     0% {
         background-position-x: 50%
     }

     100% {
         background-position-x: calc(-5500px + 100vw/2)
     }
 }

 @keyframes slide {
     0% {
         background-position-x: 50%
     }

     100% {
         background-position-x: calc(-5500px + 100vw/2)
     }
 }

 @media screen and (min-width:1024px) {
     .companies-section {
         margin-top: 40px;
         overflow: hidden
     }

     .companies-scrolling-image {
         height: 117px;
         background-size: 1800px
     }
 }

 .skills-section {
     margin-top: 24px
 }

 .skills-list {
     display: flex;
     flex-wrap: wrap;
     gap: 8px;
     margin-top: 16px
 }

 .skills-list__item {
     font-size: 10px;
     line-height: 16px;
     letter-spacing: 1.5px;
     text-transform: uppercase;
     font-weight: 600;
     padding: 4px 8px;
     border-radius: 4px;
     background-color: #e8f0fc;
     color: #0d3573
 }

 .ut-theme .skills-list__item {
     background-color: #fff5e5;
     color: #805000
 }

 @media screen and (min-width:1024px) {
     .skills-section {
         margin-top: 40px
     }
 }

 .highlights-list {
     padding-top: 16px;
     display: flex;
     flex-wrap: wrap;
     gap: 16px
 }

 .highlights-list__item {
     display: flex;
     align-items: center;
     gap: 8px;
     width: calc(50% - 8px)
 }

 .highlight-title {
     font-size: 12px;
     line-height: 16px;
     color: #000
 }

 .highlight-icon {
     flex-shrink: 0
 }

 .ut-theme .highlight-icon {
     -webkit-filter: hue-rotate(170deg);
     filter: hue-rotate(170deg)
 }

 @media screen and (min-width:1024px) {
     .highlight-title {
         font-size: 16px;
         line-height: 24px
     }

     .highlight-icon {
         height: 24px;
         width: 24px;
         -o-object-fit: contain;
         object-fit: contain
     }

     .highlights-list {
         padding-top: 24px;
         gap: 16px 24px
     }

     .highlights-list__item {
         width: calc(50% - 12px)
     }
 }

 .program-flaoting-banner {
     position: relative
 }

 .program-sticky-container {
     background: #fff
 }

 .program-sticky-container .button-section {
     margin-bottom: 8px
 }

 .download-brochure-card {
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, .4)
 }

 .download-brochure-card .banner-info-list {
     justify-content: center;
     margin-top: 8px
 }

 .download-brochure-card .banner-info__item {
     font-size: 16px;
     line-height: 24px
 }

 .pp-sticky-contect-info {
     display: flex;
     justify-content: center;
     margin-top: 16px
 }

 @media only screen and (min-width:1024px) {
     .program-sticky-container {
         position: absolute;
         z-index: 10;
         width: auto;
         right: calc(100vw/2 - 1020px/2 + 16px);
         width: calc(1020px * .34 - 16px);
         max-width: 411px;
         top: 100px
     }

     .program-sticky-container.section--fixed {
         position: fixed;
         top: 62px
     }

     .program-sticky-container.section--bottom-hold {
         position: absolute;
         top: auto;
         bottom: 40px
     }
 }

 @media only screen and (min-width:1250px) {
     .program-sticky-container {
         right: calc(100vw/2 - 1220px/2);
         width: 345px
     }
 }

 @media only screen and (min-width:1366px) {
     .program-sticky-container {
         right: calc(100vw/2 - 1280px/2);
         width: 345px
     }
 }

 .col-md-6 {
     position: relative;
     width: 100%;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px
 }

 @media (min-width:768px) {
     .col-md-6 {
         max-width: 50%
     }
 }

 @media (max-width:768px) {
     .section-body {
         width: fit-content !important
     }

     .fixed-size-btn {
         margin: 0 !important
     }
 }

 .form-group {
     margin-bottom: 1rem
 }

 .collapse:not(.show),
 .tab-content>.tab-pane {
     display: none
 }

 .close {
     float: right;
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 1;
     color: #000;
     text-shadow: #fff 0 1px 0;
     opacity: .5
 }

 button.close {
     padding: 0;
     background-color: transparent;
     border: 0
 }

 .d-none {
     display: none !important
 }

 .d-block {
     display: block !important
 }

 .hide-force {
     display: none !important
 }

 @media (min-width:576px) {
     .d-sm-none {
         display: none !important
     }

     .d-sm-block {
         display: block !important
     }
 }

 @media (min-width:768px) {
     .d-md-none {
         display: none !important
     }
 }

 .text-center {
     text-align: center
 }

 .tab-pane {
     display: none
 }

 .tab-pane.active {
     display: block
 }

 .multi-form-subtitle {
     font-size: 16px;
     font-weight: 400;
     color: #344563;
     line-height: 24px;
     text-align: center;
     margin-bottom: 16px
 }

 .multi-form-title {
     font-size: 24px;
     font-weight: 700;
     color: #000;
     text-align: center;
     margin-bottom: 8px
 }

 .seo-layout-2 .wistia-video-container {
     align-items: center
 }

 .exp-video-wrapper {
     margin: auto
 }

 .embed-responsive-16by9::before {
     padding: 0 !important
 }

 #main-nav {
     position: sticky !important
 }

 .gl-modal.open {
     z-index: 1111111111111111 !important
 }

 .main-container {
     width: 99vw;
     margin: auto
 }

 b,
 strong {
     font-weight: bolder;
     color: #ff5421
 }

 .Wlist li::marker {
     color: forestgreen !important;
     font-size: 22px
 }

 .us-btn {
     margin: 0 !important
 }

 dl,
 ol,
 ul {
     margin-top: 0 !important;
     margin-bottom: 0 !important
 }

 .technologies h2 {
     font-size: 30px;
     line-height: 45px;
     font-weight: 500;
     color: #111;
     margin-bottom: 70px
 }

 .technologies ul {
     display: flex;
     text-align: center;
     flex-wrap: wrap;
     justify-content: center
 }

 .technologies ul li h3 {
     font-size: 16px
 }

 .technologies ul li {
     padding-left: 2px;
     column-gap: 10px;
     display: inline-flex;
     height: 54px;
     align-items: center;
     background: #f7f7f7;
     border: .9px solid #d9d9d9;
     padding-right: 20px;
     font-size: 16px;
     line-height: 22px;
     font-weight: 400;
     color: #111;
     margin-right: 25px;
     margin-bottom: 40px;
     position: relative
 }

 .technologies ul li i {
     height: 54px;
     width: 54px;
     margin-right: 10px;
     display: inline-block;
     position: absolute;
     top: -1px;
     left: -1px
 }

 .technologies ul li img {
     height: 45px;
     width: 45px;
     border-radius: 50%
 }