/* ==========================================================
                        LIGHT THEME
========================================================== */

:root{

    /* ======================================================
                            BRAND
    ====================================================== */

    --primary:#FF7A00;
    --primary-light:#FF9A33;
    --primary-dark:#E56200;

    --gradient-primary:
        linear-gradient(
            135deg,
            #FF9A33,
            #FF7A00
        );



    /* ======================================================
                        PAGE BACKGROUNDS
    ====================================================== */

    --bg:#FFFFFF;
    --bg-secondary:#FFF8F1;
    --bg-tertiary:#FFF3E6;



    /* ======================================================
                        SURFACES
        Cards, Dropdowns, Sidebar, Inputs, etc.
    ====================================================== */

    --surface:#FFFFFF;
    --surface-secondary:#FAFAFA;
    --surface-hover:#F5F5F5;
    --surface-active:#FFF3E6;



    /* ======================================================
                            FOOTER
    ====================================================== */

    --footer-bg:#151515;
    --footer-surface:#1D1D1D;

    --footer-text:#FFFFFF;
    --footer-text-secondary:#C6C6C6;
    --footer-text-muted:#8A8A8A;

    --footer-border:#2D2D2D;



    /* ======================================================
                            TEXT
    ====================================================== */

    --text:#202020;
    --text-secondary:#555555;
    --text-muted:#777777;
    --text-disabled:#A0A0A0;
    --text-highlight: #ffffff;


    /* ======================================================
                            BORDER
    ====================================================== */

    --border:#EAEAEA;
    --border-light:#F5F5F5;
    --border-focus:#FFB066;



    /* ======================================================
                            STATUS
    ====================================================== */

    --success:#16A34A;
    --warning:#F59E0B;
    --danger:#DC2626;
    --info:#2563EB;
    --danger-light: #dc26261e;
    --success-light: #16a34a1c;
    --purple-light: #7c3aed1f; 



    /* ======================================================
                            SHADOW
    ====================================================== */

    --shadow-sm:0 2px 8px rgba(0,0,0,.06);
    --shadow-md:0 8px 24px rgba(0,0,0,.08);
    --shadow-lg:0 20px 50px rgba(0,0,0,.12);



    /* ======================================================
                            RADIUS
    ====================================================== */

    --radius-xs:4px;
    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:18px;
    --radius-xl:24px;
    --radius-round:999px;



    /* ======================================================
                        TRANSITIONS
    ====================================================== */

    --transition-fast:.15s ease;
    --transition:.25s ease;
    --transition-slow:.4s ease;



    /* ======================================================
                            LAYOUT
    ====================================================== */

    --navbar-height:72px;
    --sidebar-width:300px;
    /* --container-width:1440px; */



    /* ======================================================
                            Z INDEX
    ====================================================== */

    --z-navbar:100;
    --z-sidebar:200;
    --z-dropdown:500;
    --z-modal:1000;
    --z-toast:1100;

}
